html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  font-size: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a.button {
  background: hsla(0, 0%, 0%, 0.1);
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: background 0.4s;
}

a.button:hover {
  background: hsla(0, 0%, 0%, 0.2);
}

.app-wrapper {
  height: 90vh;
  width: 80vh;
  max-width: 52rem;
  margin: 5vh auto 5vh auto;
  border: 10px solid hsla(0, 0%, 0%, 0.8);
  border-block-end-width: 70px;
  border-radius: 10px;
  box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.3);
  display: flex;
  flex-direction: column;
}

.app-wrapper > * {
  flex: 1 1 auto;
}

.app-header {
  background: hsl(47, 85%, 61%);
  color: hsla(0, 0%, 0%, 0.5);
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header h1,
.main-content h2,
.main-content h4 {
  font-family: "TG Praktikal", sans-serif;
}

.main-content h4 {
  font-weight: 100;
  margin-block-end: 2.4rem;
}

.main-content {
  padding: 20px;
  background: white;
  box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1);
  line-height: 1.6;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.main-content img {
  max-width: 40%;
  float: left;
  margin-right: 10px;
}

.main-content p {
  margin-block-end: 2.4rem;
}

.icon-bar {
  border-block-start: 1px solid hsl(0, 0%, 90%);
  height: auto;
  display: flex;
}

.icon-bar a {
  flex: 1;
  text-align: center;
  padding: 1.5rem;
  border-inline-start: 1px solid hsla(0, 0%, 0%, 0.1);
  background: hsl(47, 85%, 61%);
  color: hsla(0, 0%, 0%, 0.5);
  transition: all 0.4s;
}

.icon-bar a:first-child {
  border-inline-start: none;
}

.icon-bar a:first-child,
.icon-bar a:hover {
  border-block-end: 5px solid hsla(0, 0%, 0%, 0.1);
  color: hsla(0, 0%, 0%, 0.6);
}
