html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.item.large {
  font-size: 2rem;
}

.item.small {
  font-size: 1.5rem;
}

.item {
  background: rgba(255, 255, 255, 0.2);
  margin: 0.5rem;
  padding: 1rem;
  flex: 1 1 calc(33.333% - 1rem);
}
