html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.main {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem;
}

.slider {
  -webkit-margin-after: 0.5rem;
  margin-block-end: 0.5rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.slider-nav ul {
  list-style: none;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.slider-nav li {
  -webkit-box-flex: 2;
  flex: 2;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.slider-nav .arrow {
  -webkit-box-flex: 1;
  flex: 1;
}

.arrow > a {
  font-size: 1.5rem;
  font-weight: 700;
}

.slider-nav a {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
